ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}
ul li{
    margin: 3px;
}

ul a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
}
.inner{
    display: none;
}

@media (max-width: 640px) {
    .inner{
        display: block;
    }
    .menu{
        display: none;
    }
    .trigger{
        display: inline-block;
        margin: 3px;
        cursor: pointer;
    }
    .trigger i{
        display: block;
        width: 30px;
        height: 6px;
        margin: 4px auto;
        background: #222;
    }
    .show{
        display: block;
        padding-top: 1em;

    }

}